<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" name="name" #name="ngModel" [(ngModel)]="products.name" required></ion-input>
    </ion-item>
    <!-- validation -->
    <ion-item *ngIf="name.invalid && (name.dirty || name.touched)" color="danger">
      <div *ngIf="name?.errors.required">
        Texto é obrigatorio.
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tipo</ion-label>
      <ion-select placeholder="Ecolha um" name="type" [(ngModel)]="products.type">
        <ion-select-option value="Alimento">Alimento</ion-select-option>
        <ion-select-option value="Liquido">Liquido</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor Comprado</ion-label>
      <ion-input type="number" value="" name="acquiredValue" [(ngModel)]="products.base_value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Valor Vendido</ion-label>
      <ion-input type="number" value="" name="soldValue" [(ngModel)]="products.unitary_value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input type="text" value="" name="description" [(ngModel)]="products.description"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="full" (click)="deleteDoc()" color="danger">Exluir</ion-button>
  <ion-button expand="full" (click)="saveProducts()">Salvar</ion-button>
</ion-footer>
