<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="end">
      <!-- Open search -->
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Adicionar novo Produto -->
  <ion-button expand="full" [routerLink]="['/products-form/new']">Adicionar Novo</ion-button>
  <ion-list *ngFor="let p of products">
    <ion-card>
      <div>
        <ion-buttons>
          <ion-button [routerLink]="['/products-form/edit', p.id]">
            <ion-icon name="pencil-outline" color="warning"></ion-icon>
          </ion-button>
          <ion-button (click)="openQuantities(p.id)">
            <ion-icon name="add-outline" color="success"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <ion-card-header>
        <ion-title class="t-product">{{p.name}}</ion-title>
      </ion-card-header>
      <ion-card-content>
        <div>Tipo: {{p.type}}</div>
        <div>Valor: {{p.unitary_value}}</div>
        <div>data: {{ p.date }}</div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
