<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Historico de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Produto</ion-label>
          Coca-cola
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Quantidade</ion-label>
          3
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Valor</ion-label>
          5,50
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Total</ion-label>
          16,50
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tipo de pagamento</ion-label>
          Cartão
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Descrição</ion-label>
          n/a
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Operador Caixa</ion-label>
          Vinicius
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Data</ion-label>
          10/09/2021
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
