<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Historico de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" [hidden]="isData"></ion-progress-bar>
  <ion-card>
    <ion-card-content *ngFor="let s of newSales">
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Produto</ion-label>
            {{s.name}}
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Quantidade</ion-label>
            {{s.quantitie_sale}}
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Total</ion-label>
            {{s.total}}
          </ion-item>
        </ion-col>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Tipo de pagamento</ion-label>
              Indefinido
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Operador de Caixa</ion-label>
              Vinicius
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Data</ion-label>
              {{s.format_date}}
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
